$color-blue: #9dc6ec;
$color-black: #323232;
$color-white: #ffffff;
$color-purple: #8e2de2;
$color-gentle: #f7f6f6;
$color-yellow: #feca1b;
$color-blue-pokemon: #3760a6;
$color-yellow-text: #f7ba15;
$medida-media: px-to-em(1400px);
$medida-tableta: px-to-em(1060px);
$blue-fort: #090979;
$blue-gentle: #3535c0;
