@charset "UTF-8";
@font-face {
  font-family: FuturaTitle;
  src: url("../../public/fonts/futura/FuturaBold.ttf");
}
@font-face {
  font-family: GothamTitle;
  src: url("../../public/fonts/Gotham-Font/Gotham-Bold.otf");
}
@font-face {
  font-family: GothamLight;
  src: url("../../public/fonts/Gotham-Font/GothamLight.ttf");
}
@font-face {
  font-family: GothamMedium;
  src: url("../../public/fonts/Gotham-Font/GothamMedium.ttf");
}
@font-face {
  font-family: FuturaLight;
  src: url("../../public/fonts/futura/FuturaLight.ttf");
}
@font-face {
  font-family: Pokemon;
  src: url("../../public/fonts/Pokemon/Pokemon.ttf");
}
@font-face {
  font-family: PokemonSolid;
  src: url("../../public/fonts/Pokemon/PokemonS.ttf");
}
/* Definimos las Custom properties */
:root {
  /* Colores */
  --negro: #393939;
  /* Tipografía */
  --tipo-principal: Helvetica, Arial, sans-serif;
  --tipo-secundaria: Verdana;
}

/* (Opcional) Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --negro: #ececec;
  }
}
/* (Opcional) Configuramos si un usuario ha activado el modo alto contraste. (WD) */
/* (Opcional) Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}
.upercase {
  text-transform: capitalize;
}

/* Reseteamos los margin y paddings de todas las etiquetas */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

*::before,
*::after {
  display: block;
}

/* Evitamos problemas con las imagenes */
img,
picture,
video,
iframe,
figure {
  display: block;
  /* (Opcional) */
  object-fit: cover;
  /* (Opcional) */
  object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* (Opcional) Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* (Opcional) Configuramos el texto que seleccionamos */
::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* (Opcional) */
  appearance: none;
}

/* Reseteamos las tablas */
table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  display: block;
  fill: currentColor;
}

/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  /* (Opcional) */
  hyphens: auto;
  /* (Opcional) */
  font-smooth: always;
  /* (Opcional) */
  -webkit-font-smoothing: antialiased;
  /* (Opcional) */
  -moz-osx-font-smoothing: grayscale;
  scrollbar-width: none; /* Esto oculta la barra de desplazamiento */
  font-family: GothamLight;
  overflow-x: hidden;
  position: relative;
  background: #fb6a3e;
}

select::-ms-expand {
  display: none; /*Evita que se muestre la flecha por defecto en versiones de IE*/
  outline: none;
  border: none;
}

select:focus {
  outline: none;
  border: none;
}

.globs {
  background: #feac1d;
  border-radius: 50%;
  height: 50em;
  width: 50em;
  position: fixed;
  top: -10em;
  right: -10em;
}

.globs:nth-child(2) {
  top: 25em;
  right: -20em;
  background: #f47923;
  opacity: 0.5;
}

.bottom {
  width: 70em;
  right: -5em;
  top: 38.5em;
  background: #f47923;
  opacity: 0.4;
}

.pokemons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  gap: 1em;
}
.pokemons__section {
  max-width: 62.5em;
  outline: 1px solid rgb(47, 144, 255);
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(18.75em, 1fr));
  grid-template-columns: repeat(auto-fit, minmax(18.75em, 1fr));
  gap: 3em;
}
.pokemons__pokedex {
  position: relative;
  width: 25em;
  z-index: 10;
}

.pokemon {
  place-self: center;
  width: 20em;
  height: 25em;
  position: relative;
  display: flex;
  overflow: hidden;
  color: #323232;
  font-family: GothamLight;
  text-transform: capitalize;
  cursor: pointer;
}
.pokemon__arrow {
  position: absolute;
  bottom: 5px;
  left: 0;
  height: 25px;
  width: 25px;
}
.pokemon__types {
  position: absolute;
  top: 0;
  margin: 0.3em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  z-index: 15;
}
.pokemon__div {
  align-self: flex-end;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(7, minmax(2.5em, 1fr));
  width: 100%;
  height: 20em;
  transform: translateY(5.7em);
  background: #fff;
  border-radius: 1em;
  box-shadow: -0.1em -0.4em 0.3em rgba(0, 0, 0, 0.3137254902);
}
.pokemon__section {
  position: relative;
  z-index: 5;
  border-radius: 1em;
  grid-row: 3/8;
  grid-column: 1/4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, minmax(2.5em, 1fr));
}
.pokemon__h2 {
  text-transform: capitalize;
  grid-row: 1/2;
  grid-column: 1/4;
  border-radius: 1em;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 0;
  color: #323232;
  font-family: GothamTitle;
}
.pokemon__figure {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: transparent;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 0;
  opacity: 1;
  height: 16em;
}
.pokemon__image {
  aspect-ratio: 9/16;
  width: 15em;
  height: 10em;
  object-fit: contain;
  filter: drop-shadow(0.3em 0.8em 0.1em rgba(0, 0, 0, 0.5));
}
.pokemon__abilities {
  grid-row: 2/4;
  grid-column: 1/4;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  font-weight: 900;
  position: relative;
}
.pokemon__skill {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  font-family: GothamMedium;
  color: #f7ba15;
}
.pokemon__movements {
  grid-row: 4/6;
  grid-column: 1/4;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  font-weight: 900;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}
.pokemon__moves {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  font-family: GothamMedium;
  color: #f7ba15;
}

.pokedex {
  background: linear-gradient(140deg, #95da97 32%, #29cda8 100%);
  font-family: GothamLight;
  height: 45em;
  width: 25em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 0;
  font-weight: 900;
  padding: 0.5em;
  border-radius: 0.5em;
}
.pokedex__top {
  height: 35%;
  background: transparent;
  outline: 1px solid goldenrod #a8a1a1 #696969;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.pokedex__cp {
  margin: 5em 0 0 0;
  font-weight: bold;
  text-align: center;
}
.pokedex__exp {
  font-size: 1.5em;
}
.pokedex__circle {
  margin: auto;
  height: 80%;
  width: 60%;
  border: 0.25em solid #fff;
  border-top-left-radius: 500px;
  border-top-right-radius: 500px;
  border-left: none;
  border-right: none;
  border-bottom: none;
  position: relative;
}
.pokedex__spot {
  height: 0.8em;
  width: 0.8em;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 0.4em;
  left: 3.5em;
}
.pokedex__bottom {
  height: 65%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
  position: relative;
  background: #fff;
  color: #323232;
  border-radius: 0.5em;
}
.pokedex__image {
  aspect-ratio: 9/16;
  width: 14em;
  height: 10em;
  object-fit: contain;
  filter: drop-shadow(0.3em 0.8em 0.1em rgba(0, 0, 0, 0.5));
  position: absolute;
  top: -6em;
}
.pokedex__info {
  margin: 5em 0 0 0;
  height: 20em;
  flex-grow: 2;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5em;
}
.pokedex__name--hp {
  font-weight: 900;
  color: #323232;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.4em;
  width: 100%;
}
.pokedex__h2 {
  text-transform: capitalize;
  font-size: 1.8em;
  text-align: center;
}
.pokedex__hp {
  background: #70efba;
  height: 0.6em;
  width: 12em;
  border-radius: 0.5em;
}
.pokedex__btn {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.4em;
  width: 100%;
}
.pokedex__button {
  height: 2.5em;
  padding: 0 1em;
  border-radius: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
}
.pokedex__about {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.4em;
  width: 100%;
  border-bottom: 0.05em solid rgba(0, 0, 0, 0.3137254902);
}
.pokedex__map {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.4em;
  flex-grow: 1;
  margin: 0 0 1em 0;
}
.pokedex__map:nth-child(2) {
  border: 0.05em solid rgba(0, 0, 0, 0.3137254902);
  border-top: none;
  border-bottom: none;
}
.pokedex__p {
  text-transform: capitalize;
}
.pokedex__types {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.4em;
}
.pokedex__buy {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.pokedex__map--buy {
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}
.pokedex__text {
  font-size: 1.4em;
}
.pokedex__text:nth-child(2) {
  font-size: 1em;
}
.pokedex__gray {
  width: 100%;
  padding: 0 2em;
}
.pokedex__background {
  background: #e7e5e5;
  width: 100%;
  border-radius: 2em;
  color: #fff;
}
.pokedex__power {
  background: linear-gradient(90deg, #95da97 0%, #29cda8 100%, rgba(74, 66, 66, 0) 200%);
  padding: 1em 3em 1em 1em;
  border-radius: 2em;
  position: relative;
}
.pokedex__up {
  text-transform: uppercase;
  font-weight: 900;
}
.pokedex__x {
  border: 0.0625em solid #fff;
  position: absolute;
  right: -0.5em;
  top: 0;
  width: 3.1em;
  height: 3.1em;
  border-radius: 50%;
  background: rgb(25, 136, 145);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}
.pokedex__two {
  height: calc(100% - 0.5em);
  width: calc(100% - 0.5em);
  border-radius: 50%;
  background: linear-gradient(90deg, #95da97 0%, #29cda8 100%, rgba(74, 66, 66, 0) 200%);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}
.pokedex__trhee {
  height: calc(100% - 0.2em);
  width: calc(100% - 0.2em);
  border-radius: 50%;
  background: rgb(25, 136, 145);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}
.pokedex__drag {
  background: linear-gradient(90deg, #95da97 0%, #29cda8 100%, rgba(74, 66, 66, 0) 200%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 1.4em;
  font-family: GothamMedium;
}

.header {
  font-family: PokemonSolid;
  background: transparent;
}
.header__ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
.header__div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.header__li {
  cursor: pointer;
  position: relative;
}
.header__name {
  color: #3760a6;
  font-weight: 900;
  letter-spacing: 0.1875em;
  font-size: 1.5em;
}
.header__image {
  object-fit: contain;
}
.header__underline {
  position: absolute;
  bottom: 0;
  height: 0.2em;
  width: 100%;
  background: #feca1b;
}

.ppokedex {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  gap: 0;
}

[data-image=true] {
  opacity: 0;
}

.login {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.login__article {
  width: 50%;
}
.login__left {
  color: #fff;
  width: 60%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
@media screen and (max-width: 87.5em) {
  .login__left {
    width: 50%;
  }
}
@media screen and (max-width: 66.25em) {
  .login__left {
    width: 100%;
    flex-grow: 1;
    background: red;
  }
}
.login__right {
  width: 40%;
}
@media screen and (max-width: 87.5em) {
  .login__right {
    width: 50%;
  }
}
@media screen and (max-width: 66.25em) {
  .login__right {
    display: none;
  }
}
.login__container {
  max-width: 33em;
  height: 28.125em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 1em;
}
.login__image {
  object-fit: contain;
}
.login__init {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.login__text {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 1em;
}
.login__title {
  font-size: 3em;
  font-weight: bold;
  font-family: GothamTitle;
}
.login__p {
  color: #ebebeb;
  font-size: 1.2em;
  line-height: 1.3;
}
.login__buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
  width: 100%;
}
.login__btn {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.2em;
  padding: 1em;
  border-radius: 0.5em;
  background: #fff;
  color: #918f8f;
  cursor: pointer;
  transition: 0.5s ease;
}
.login__btn:hover {
  transform: scale(1.1);
}
.login__btn:nth-child(2) {
  background: #4368c7;
  color: #fff;
}

/*# sourceMappingURL=main.css.map */
